@page "/360_bilder"

@implements IDisposable
@inject IJSRuntime JSRuntime


<div id="pan_container" class="select-none"></div>


@code {
    private bool firstRenderDone = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("pan_viewer.start", "apt_data");
            firstRenderDone = true;
        }
    }

    public async void Dispose() {
        if (!firstRenderDone)
            return;

        await JSRuntime.InvokeVoidAsync("pan_viewer.dispose");
    }
}


<style>
    canvas {
        margin: auto;
        width: 100%;
    }

    #pan_container {
        width: 100%;
    }

    #pan_container.fullscreen {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1000000;
    }
</style>
