@page "/360_bilder"

@inject IJSRuntime JSRuntime


<div id="pan_container" class="select-none">
</div>


@code {
    protected override async void OnInitialized() {
        base.OnInitialized();
        await Task.Delay(100);
        await JSRuntime.InvokeVoidAsync("pan_viewer.start", "someUniqueHouseID");
    }
}


<style>
    body {
        margin: 0;
        overflow: hidden;
    }

    #pan_container {
        position: relative;
        width: 50%;
    }
</style>
