@page "/360_bilder"

@inject IJSRuntime JSRuntime


<div id="pan_container" class="select-none"></div>


@code {
    protected override async void OnInitialized() {
        base.OnInitialized();
        await Task.Delay(100);
        await JSRuntime.InvokeVoidAsync("pan_viewer.start", "apt_data");
    }
}


<style>
    body {
        margin: 0;
        overflow: hidden;
    }

    canvas {
        margin: auto;
    }

    #pan_container {
        display: flex;
        width: 100%;
    }

    #pan_container.fullscreen {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1000000;
    }
</style>
