@page "/exterior"
@inject IJSRuntime JSRuntime

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initAutocomplete", 59.332491, 18.068093);
        }
    }
}


<style>
    #map {
        width: 1000px;
        height: 800px;
    }
</style>
