@page "/"
@using System.Net.Http;
@inject HttpClient Http
@inject IJSRuntime JSRuntime





<div id="selector">

    <img src=@overviewImg usemap="#overview_image-map" id="overview" />
    <map name="overview_image-map" id="overview_im">
        <area name="housing_1" href="#" status="available" @onclick="Select" @onmouseover="Hover" coords="1468,899,1479,825,1154,813,1127,854,1270,899,1369,900" shape="poly">
    </map>
</div>


@code {
    string overviewImg = "IMG/Imagemapbild.jpg";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<bool>("init");
        }
    }

    public async Task Select() {
        await JSRuntime.InvokeVoidAsync("click", null);
    }

    public async Task Hover() {
        await JSRuntime.InvokeVoidAsync("hover", null);
    }
}


<style>
    #selector {
        position: relative;
        width: 100%;
        left: 0px;
        top: 0px;
    }

    #overview {
        width: 30%;
    }
</style>
