@page "/närområde"
@using Syncfusion.Blazor.Buttons
@inject IJSRuntime JSRuntime

<div style="margin: auto; width: 1000px; padding: 3px 3px 5px 3px; background-color: cornflowerblue">
    <div>
        <input id="pac-input" class="controls" type="text" placeholder="Ange utgångspunkt">
        <span style="float: right;">
            <SfRadioButton Label="Bil" Name="travelMode" Value="car" Checked="true" ValueChange="@OnTravelModeValueChange"></SfRadioButton>
            <SfRadioButton Label="Cykel" Name="travelMode" Value="bike" Checked="false" ValueChange="@OnTravelModeValueChange"></SfRadioButton>
            <SfRadioButton Label="Kollektivtrafik" Name="travelMode" Value="public" Checked="false" ValueChange="@OnTravelModeValueChange"></SfRadioButton>
        </span>
    </div>
    <div id="travel-data">
        <a id="travel-distance"></a>
        <a id="travel-time"></a>
    </div>
</div>
<div id="map"></div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync(
                "googlemaps.initAutocomplete", 59.332491, 18.068093
            );
        }
    }

    private async void OnTravelModeValueChange(Syncfusion.Blazor.Buttons.ChangeArgs args)
    {
        await JSRuntime.InvokeVoidAsync(
            "googlemaps.setTravelMode", args.Value
        );
    }
}


<style>
    #map {
        margin: auto;
        width: 1000px;
        height: 800px;
    }

    #pac-input {
        width: 300px;
    }
</style>
