
@page "/Sunstudy"

@inject IJSRuntime JSRuntime



<div style="width:100%">

    <img id="1" src="/IMG/test/6-00 (August).jpg" class="show full" />
    <img id="2" src="/IMG/test/9-00 (August).jpg" class="hide full" />
    <img id="3" src="/IMG/test/3.jpg" class="hide full" />
    <img id="4" src="/IMG/test/4.jpg" class="hide full" />
    <img id="5" src="/IMG/test/5.jpg" class="hide full" />


    <video preload="auto" id="1-2" class="hide full">
        <source src="/IMG/test/TestAnim_1_1.mp4" type="video/mp4" />
    </video>
    <video preload="auto" id="2-3" class="hide full ">
        <source src="/IMG/test/TestAnim_1_1.mp4" type="video/mp4" />
    </video>
    <video preload="auto" id="3-4" class="hide full">
        <source src="/IMG/test/3-4.mp4" type="video/mp4" />
    </video>
    <video preload="auto" id="4-5" class="hide full">
        <source src="/IMG/test/4-5.mp4" type="video/mp4" />
    </video>
    <video preload="auto" id="2-1" class="hide full">
        <source src="/IMG/test/2-1.mp4" type="video/mp4" />
    </video>
    <video preload="auto" id="3-2" class="hide full">
        <source src="/IMG/test/3-2.mp4" type="video/mp4" />
    </video>
    <video preload="auto" id="4-3" class="hide full">
        <source src="/IMG/test/4-3.mp4" type="video/mp4" />
    </video>
    <video preload="auto" id="5-4" class="hide full">
        <source src="/IMG/test/5-4.mp4" type="video/mp4" />
    </video>


    <!-- <button onclick="playsunstudy(1)"> 1</button>
    <button onclick="playsunstudy(2)"> 2</button>
    <button onclick="playsunstudy(3)"> 3</button>
    <button onclick="playsunstudy(4)"> 4</button>
    <button onclick="playsunstudy(5)"> 5</button> -->


    <div class="progress-container">
        <div class="progress" id="progress"></div>
        <div onclick="playsunstudy(1)" class="circle active">08:00</div>
        <div onclick="playsunstudy(2)" class="circle ">12:00</div>
        <div onclick="playsunstudy(3)" class="circle ">16:00</div>
        <div onclick="playsunstudy(4)" class="circle ">20:00</div>
        <div onclick="playsunstudy(5)" class="circle ">24:00</div>
    </div>

    <p> This is a tutorial project I added these boxes to</p>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await JSRuntime.InvokeVoidAsync("util.enableClickMenu");
        await JSRuntime.InvokeVoidAsync("util.hideCP");
    }

}

<style>

    .progress-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 30px;
        max-width: 100%;
        width: 90%;
    }

        .progress-container::before {
            content: "";
            background: #e0e0e0;
            position: absolute;
            top: 50%;
            left: 0.1%;
            transform: translateY(-50%);
            height: 4px;
            width: 99.8%;
            z-index: -1;
        }

    .progress {
        background: #415965;
        position: absolute;
        top: 50%;
        left: 26.5px;
        transform: translateY(-50%);
        height: 4px;
        width: 0%;
        z-index: -1;
        transition: 3.648s linear;
    }

    .circle {
        background: #fff;
        color: #e0e0e0;
        border-radius: 50%;
        height: 53px;
        width: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #e0e0e0;
        transition: 0.348s ease;
        font-size: 15px;
        cursor: pointer;
    }

        .circle.active {
            transition-delay: 3.3s;
            border-color: #415965;
            color: darkorange;
        }



    .btn {
        background: #3498db;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        padding: 8px 30px;
        margin: 5px;
        font-size: 14px;
    }

        .btn:active {
            transform: scale(0.98);
        }

        .btn:focus {
            outline: 0;
        }

        .btn:disabled {
            background: #e0e0e0;
            cursor: not-allowed;
        }

    .hide {
        display: none
    }

    .full {
        width: 80%
    }

    .show {
        display: block !important;
    }
</style>