@inherits LayoutComponentBase
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
<div class="topnav">
    <NavMenu />
</div>




    <div class="main">
        <div class="top-center px-4">


        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

    <style>
    
      

        
    </style>


@code{
    private void Navbuttonclick()
    {

    }
}