@inherits LayoutComponentBase
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations


<div class="topnav">
    <NavMenu />
</div>

<div class="main">
    <div class="top-center px-4">


    </div>

    <div class="content px-4">
        @Body

        <div id="tipmsg"></div>
    </div>
</div>


<style>
    .main {
        margin-top: 40px;
    }

    #tipmsg {
        display: none;
        position: absolute;
        background-color: #F0F0F0;
        color: black;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 7px;
        white-space: pre-wrap;
        pointer-events: none;
    }

    .center {
        margin: auto;
    }

    .hidden {
        display: none;
    }
</style>
