@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@inject IJSRuntime JSRuntime


    <div id="topnav">
        <div>
            <div style=" display:inline-block;">
                <NavLink href="" Match="NavLinkMatch.All" style="  display: inline-block;">
                    <SfButton IsPrimary="true" CssClass="e-flat">Exteriör</SfButton>
                </NavLink>

                <header class="menuslash">/</header>
                <NavLink href="interior" style="display: inline-block;">
                    <SfButton IsPrimary="true" CssClass="e-flat">Interiör</SfButton>
                </NavLink>
                <header class="menuslash">/</header>
                <NavLink href="Lgh._lista" style="display: inline-block;">
                    <SfButton IsPrimary="true" CssClass="e-flat">Lgh lista</SfButton>
                </NavLink>
                <header class="menuslash">/</header>
                <NavLink href="närområde" style="display: inline-block;">
                    <SfButton IsPrimary="true" CssClass="e-flat"> Närområde </SfButton>
                </NavLink>
                <header class="menuslash">/</header>
                <NavLink href="VR-video" style="display: inline-block;">
                    <SfButton IsPrimary="true" CssClass="e-flat">VR-video</SfButton>
                </NavLink>
                <header class="menuslash">/</header>
                <NavLink href="360_bilder" style="display: inline-block;">
                    <SfButton IsPrimary="true" CssClass="e-flat">360 Bilder</SfButton>
                </NavLink>

             


            </div>
        <div style="float: right; display:inline-block;">
            <SfButton CssClass="e-flat" OnClick="@ToggleFullscreen">FS</SfButton>
        </div>
        </div>
    </div>


@code {
    private bool Fullscreen { get; set; } = false;

    public async Task ToggleFullscreen()
    {
        Fullscreen = !Fullscreen;

        if (Fullscreen)
            await JSRuntime.InvokeVoidAsync(
                "util.openFullscreen"
            );
        else
            await JSRuntime.InvokeVoidAsync(
                "util.closeFullscreen"
            );
    }
}


