@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations

@inject IJSRuntime JSRuntime


<div id="topnav">
    <span>
        <NavLink href="" Match="NavLinkMatch.All">
            <SfButton IsPrimary="true" CssClass="e-flat">Exteriör</SfButton>
        </NavLink>
        <a class="menuslash">/</a>
        <NavLink href="interior">
            <SfButton IsPrimary="true" CssClass="e-flat">Interiör</SfButton>
        </NavLink>
        <a class="menuslash">/</a>
        <NavLink href="lgh_lista">
            <SfButton IsPrimary="true" CssClass="e-flat">Lgh lista</SfButton>
        </NavLink>
        <a class="menuslash">/</a>
        <NavLink href="närområde">
            <SfButton IsPrimary="true" CssClass="e-flat">Närområde</SfButton>
        </NavLink>
        <a class="menuslash">/</a>
        <NavLink href="VR-video">
            <SfButton IsPrimary="true" CssClass="e-flat">VR-video</SfButton>
        </NavLink>
        <a class="menuslash">/</a>
        <NavLink href="360_bilder">
            <SfButton IsPrimary="true" CssClass="e-flat">360 Bilder</SfButton>
        </NavLink>
    </span>

    <span style="float: right;">
        <SfButton CssClass="e-flat" IconCss="e-icons e-search" OnClick="@ToggleFullscreen"></SfButton>
    </span>
</div>


@code {
    private bool Fullscreen { get; set; } = false;

    public async Task ToggleFullscreen()
    {
        Fullscreen = !Fullscreen;

        if (Fullscreen)
            await JSRuntime.InvokeVoidAsync(
                "util.openFullscreen"
            );
        else
            await JSRuntime.InvokeVoidAsync(
                "util.closeFullscreen"
            );
    }
}


<style>
    #topnav {
        position: fixed;
        width: 100%;
        z-index: 1000;
        overflow: hidden;
        background-color: white;
        border-bottom: 1px solid black;
    }

    .menuslash {
        display: inline-block;
        font-family: 'Segoe UI';
        font-weight: bold;
        font-size: 14px;
    }

    .e-flat {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: 'Segoe UI';
        font-weight: bold;
        font-size: 14px;
    }

    .e-search::before {
        content: '\e771';
    }
</style>
