@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations

@inject IJSRuntime JSRuntime


<div id="topnav">
    <header class="header">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu" style="color:white;">
            <li><a style="color:white" @onclick="@MenuOnClick" href="">Bostadsväljare</a></li>
            <li><a style="color:white" @onclick="@MenuOnClick" href="lgh_lista">Lägenhetslista</a></li>
            <li><a style="color:white" @onclick="@MenuOnClick" href="närområde">Närområde</a></li>
            @*<li><a style="color:#415965" href="VR-video">VR-video</a></li>
            <li><a style="color:#415965" href="360_bilder">360 Bilder</a></li>
            <li><a style="color:white" href="interior">Interior</a></li>*@
        </ul>
    </header>


    <span style="float: right;margin-top: 10px; margin-right:30px;">
        <SfButton CssClass="e-flat" IconCss="e-icons e-search" OnClick="@ToggleFullscreen"></SfButton>
    </span>
</div>


@code {
    private bool Fullscreen { get; set; } = false;

    public async Task ToggleFullscreen()
    {
        Fullscreen = !Fullscreen;

        if (Fullscreen)
            await JSRuntime.InvokeVoidAsync("util.openFullscreen");
        else
            await JSRuntime.InvokeVoidAsync("util.closeFullscreen");
    }

    private async void MenuOnClick(MouseEventArgs ev)
    {
        await JSRuntime.InvokeVoidAsync("MenuOnClick");
    }
}


<style>

    body {
        margin: 0;
        font-family: acumin-pro,sans-serif;
        font-size: 15px;
        background-color: #f4f4f4;
    }

    a {
        padding-bottom: 20px;
        color: #000;
    }

    ul.menu li {
        padding-left: 20px;
        background-color: #415965;
    }

    #topnav {
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 10000;
        overflow: hidden;
        background-color: #415965;
        border-bottom: 1px solid;
        border-bottom-color:white;
    }

    .menuslash {
        display: inline-block;
        font-family: acumin-pro,sans-serif;
        font-size: 15px;
    }

    .e-search::before {
        content: '\e771';
        color: white;
        font-size: 32px;
    }

    /* header */

    .header {
        display: block;
        float: left;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header li a {
        display: block;
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color:  #576a74;
    }

    /* menu */

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: left;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 5px;
    }

    .header .menu-icon .navicon:after {
        top: -5px;
    }

    /* menu btn */

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    /* 48em = 768px */

    @@media (min-width: 768px) {
        .header li {
            float: left;
           
        }

        .header li a {
            padding: 20px 30px;
        }

        .header .menu {
            clear: none;
            float: left;
            max-height: none;
        }

        .header .menu-icon {
            display: none;
        }
    }
</style>
